services:
  next-app:
    build:
      context: .
    networks:
      - client-side
    ports:
      - 3000:3000
  db:
    image: postgres:16.3-alpine3.20
    restart: always
    environment:
      - POSTGRES_PASSWORD=123456
    networks:
      - server-side
      - client-side
    ports:
      - 5432:5432
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: {}

networks:
  client-side: {}
  server-side: {}
